/* src/components/Navbar.module.css */
.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #37475a;
    color: white;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap:2%;
    /* margin-right:3%; */
    padding: 0;
  }
  
  .navLinks li {
    display: block  ;
  }
  
  .navLinks a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .navLinks a:hover {
    color: #ddd;
  }
  .logoutButton {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background: #6a5a5a;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    display: inline;
  }
  
  .logoutButton:hover {
    background: #d43f3f;
  }